body {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el relleno por defecto del body */
  background-image: url("https://img.freepik.com/vector-gratis/fondo-educacion-estilo-doodle_53876-115365.jpg?t=st=1721693747~exp=1721697347~hmac=35fd53dc2d289a518e17ee2230ee3f6faf595055a7857cb68de819e00a5074b2&w=740");
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-size: cover; /* Hace que la imagen de fondo cubra todo el contenido visible */
  background-position: center; /* Centra la imagen de fondo */
  height: 100vh; /* Establece la altura del body al 100% del viewport height */
}

.contenedor-boton {
  margin-top: 200px;
}

/* Asegúrate de que los botones se apilen en pantallas pequeñas */
@media (max-width: 576px) {
  .btn {
      display: block;
      width: 100%;
  }
  .me-2 {
      margin-right: 0 !important;
  }
}



.navbar-text{
    color: #f0ad4e; 
}

